@charset "utf-8";

main{}

.badges{
    width: 130px;
    position: fixed;
    right: 5px;
    top: 130px;
    z-index: 10;
}
.badges>a>img{
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    margin-bottom: 12px;
}

/* btn */
.btn{
    width: 130px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #333;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: block;
    transition: 0.4s;
    color: #333;  

}
.btn:hover{
    background-color: #333;
    color: #fff;
}

.btn.btn--brown{
    color: #592b18;
    border-color: #592b18;
    transform: translateX(150px);
}
.btn.btn--brown:hover{
    color: #fff;
    background-color: #592b18;
}

.btn.btn--lightBrown{
    color: #C1977C;
    border-color: #C1977C;
}
.btn.btn--lightBrown:hover{
    color: #fff;
    background-color: #C1977C;
}

.btn.btn--white{
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover{
    background-color: #fff;
    color: #333;
}

.btn.btn--blackbg{background-color: #333; color: #fff;}
.btn.btn--blackbg:hover{background-color: transparent; color: #333;}

/* visual */
.visual{
    background-image: url("../images/visual_bg.jpg");
}
.visual .inner{
    width:1100px;
    height: 646px;
    margin: 0px auto;
    position: relative;
}
.title, .cup1, .cup2, .spoon{
    position: absolute;
}
.visual .title{
    top: 40px;
    left: -10px;
}
.visual .cup1.image{
    bottom: 0px;
    right: -47px;
}
.visual .cup1.text{
    top: 40px;
    right: 60px;
}
.visual .cup2.image{
    bottom: 0;
    right: 162px;
}
.visual .cup2.text{
    top: 186px;
    right: 412px;
}
.visual .spoon{
    bottom: 0;
    left: 275px;
}

.fadeIn{
    opacity: 0;
}

/* notice */
.notice{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(51,51,51,1) 61.3%, rgba(246,245,239,1) 61.3%);
}
.notice .inner{
    width: 1100px;
    margin: 0px auto;
    position: relative;
}
.notice .inner .inner__left{
    width: 70%;
    height: 62px;
    position: absolute;
    background-color: #333;
    overflow: hidden;
    align-items: center;
}
.notice .inner .inner__left h2{
    color: #fff;
    font-size: 17px;
    margin-right: 20px;
    position: absolute;
    line-height: 62px;
}
.notice .inner .inner__left>a{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    text-align: center;
}
.notice .inner .inner__left a span{
    width: 62px;
    height: 62px;
    line-height: 62px;
    color: #fff;
}
.notice .inner .inner__right{
    width: 30%;
    height: 62px;
    /* border: 3px solid #00f;
    box-sizing: border-box; */
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice .inner .inner__right h2{
    width: 120px;
    font-weight: 700;
    font-size: 17px;
}
.notice .inner__right .toggle_btn{
    cursor: pointer;
}

/* promotion */
.promotion{
    display: flex;
    justify-content: center;
    background-color: #f6f5ef;
    overflow: hidden;
    position: relative;
    height: 663px;
    transition: height .4s;
}
/* 버튼 클릭시 프로모션에 적용할 서식 */
.hide{
    height: 0px !important; /* 서식이 중복 될 경우 안될 가능성이 있으니 !important 넣어주기 */
}
.promotion .swiper{
    /* 819px 슬라이드 3개 && 여백 10px 2개= 2477px */
    width: calc(819px * 3 + 10px * 2);
    flex-shrink: 0;
}
.promotion .swiper .swiper-wrapper .swiper-slide{
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}
.promotion .swiper .swiper-wrapper .swiper-slide-active{
    opacity: 1;
}
.promotion .swiper .swiper-wrapper .swiper-slide .btn{
    position: absolute;
    bottom: 110px;
    left: 350px;
    margin: auto;
}
.promotion .swiper .swiper-button-prev,
.promotion .swiper .swiper-button-next{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #333;
    color: #333;
    top: 300px
}

.promotion .swiper-pagination{
    bottom: 20px;
    z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet{
    background-color: transparent;
    background-image: url("../images/promotion_slide_pager.png");
    width: 13px;
    height: 12px;
    margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child{
    margin-right: 0px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active{
    background-image: url(../images/promotion_slide_pager_on.png);
}

.promotion .swiper .swiper-button-prev{
    left: 50%;
    margin-left: -480px;
}
.promotion .swiper .swiper-button-next{
    right: 50%;
    margin-right: -480px;
}
.promotion .swiper .swiper-button-prev::after,
.promotion .swiper .swiper-button-next::after{
    display: none;
}
.promotion .swiper .swiper-button-prev:hover,
.promotion .swiper .swiper-button-next:hover{
    color: #fff;
    background-color: #333;
}

/* rewards */
.rewards{
    background: linear-gradient(90deg, rgba(39,39,39,1) 50%, rgba(213,199,152,1) 50%);
}

.rewards .inner{
    width: 1100px;
    background-image: url('../images/rewards.jpg');
    height: 241px;
    margin: 0px auto;
    position: relative;
}
.rewards .btn_group{
    width: 280px;
    position: absolute;
    right: 20px;
    bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.rewards .btn:first-child{
    width: 120px;
    display: inline-block !important;
    margin: 0px 10px 10px 0px;
}
.rewards .btn:nth-child(2){
    width: 120px;
    display: inline-block !important;
    margin: 0px 0px 10px 0px;
}
.rewards .btn:last-child{
    width: 250px;
}

/* youtube contents */
.youtube{
    background-color: #222;
    background-image: url("../images/video_cover_pattern.png");
    position: relative;
}
.youtube .inner{
    width: 1100px;
    height: 700px;
    margin: 0px auto;
    box-sizing: border-box;
    /* border: 3px solid #ff0; */
    position: relative;
    z-index: 2;
}
.youtube .inner img{position: absolute;}
.youtube .inner .m_img1{
    top: 20px;
    left: -80px;
    animation-name: m_img01;
    animation-iteration-count:infinite;
    animation-duration: 3s;
}
.youtube .inner .m_img2{
    bottom: 70px;
    left: 30px;
    animation-name: m_img02;
    animation-iteration-count:infinite;
    animation-duration: 3.5s;
}
.youtube .inner .m_img3{
    right: 0px;
    bottom: -60px;
    animation-name: m_img03;
    animation-iteration-count:infinite;
    animation-duration: 3.5s;
}
.youtube .video{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
}
.youtube .video video{
    width: 100%;
    height: 700px;
}
.youtube .cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/video_cover_pattern.png);
    z-index: 1;
}
@keyframes m_img01{
    0%{transform: translateY(0px);}
    50%{transform: translateY(15px);}
    100%{transform: translateY(0px);}
}
@keyframes m_img02{
    0%{transform: translateY(15px);}
    49%{transform: translateY(0px);}
    100%{transform: translateY(15px);}
}
@keyframes m_img03{
    0%{transform: translateX(0px);}
    50%{transform: translateY(15px);}
    100%{transform: translateY(0px);}
}

/* blend */
.season-product{
    background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner{
    width: 1100px;
    height: 400px;
    margin: 0px auto;
    /* border: 3px solid #ff0;
    box-sizing: border-box; */
    position: relative;
}
.season-product .inner .coffee01{
    position: absolute;
}
.season-product .inner .txt_group{
    position: absolute;
    width: 480px;
    height: 300px;
    text-align: left;
    /* background-color: #ff0; */
    right: 100px;
    top: 100px;
}
.season-product .inner .txt_group .ctitle{
    margin-bottom: 10px;
}
.season-product .inner .txt_group .description{
    margin-bottom: 20px;
}

/* reserve */
.reserve{
    background-image: url("../images/reserve_bg.jpg");
}
.reserve .inner{
    width: 1100px;
    height: 400px;
    margin: 0px auto;
    /* border: 3px solid #ff0;
    box-sizing: border-box; */
    position: relative;
}
.reserve .reserve_logo{
    position: absolute;
    top: 110px;
    left: 0px;
}
.reserve .txt_box{
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve .product{
    position: absolute;
    top: 0;
    right: 0;
}

/* favorite */
.favorite{
}
.favorite .inner{
    width: 1100px;
    margin: 0px auto;
    padding: 100px 0;
}
.favorite .txt_box{
    width: 362px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.favorite .txt_box .ctitle{
    margin-bottom: 40px;
}
.favorite .txt_box .description{
    margin-bottom: 40px;
}

/* reserve store */
.reserve_store{}
.reserve_store .inner{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve_store .medal{
    width: 334px;
    height: 334px;
    perspective: 600px;
}
.reserve_store .medal .front{
    position: absolute;
    transition: 1s;
}
.reserve_store .medal .back{
    position: absolute;
    transition: 1s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}
.reserve_store .medal:hover .front{
    transform: rotateY(180deg);
}
.reserve_store .medal:hover .back{
    transform: rotateY(0deg);
}
.reserve_store .medal .back .btn{
    position: absolute;
    top: 240px;
    left: 0px;
    right: 0px;
    margin: auto;
}
/* find store */
.f_store{}
.f_store .inner{
    width: 1100px;
    height: 400px;
    margin: 0px auto;
    position: relative;
}
.f_store .texture1{
    position: absolute;
    top: 0px;
    left: 400px;
}
.f_store .texture2{
    position: absolute;
    bottom: 0;
    right: 0;
}
.f_store .picture1{
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
    position: absolute;
    top: -60px;
    left: 0;
}
.f_store .picture2{
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
    position: absolute;
    top: 150px;
    left: 250px;
}
.f_store .txt_box{
    position: absolute;
    top: 120px;
    left: 550px;
}
.f_store .txt_box .ctitle{
    margin-bottom: 20px;
}
.f_store .txt_box .description{
    margin-bottom: 20px;
}

/* 화면을 80퍼까지 내릴 시  section에 show 클래스가 추가되며 서식이 적용되게 하기 */
/* back to positon 기본 서식(숨기기) */
.back-to-position{
    opacity: 0;
    transition-duration: 1s;
}
.back-to-position.to-left{
    transform: translateX(150px);
}
.back-to-position.to-right{
    transform: translateX(-150px);
}
/* back to positon 나타내기 */
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
/* 딜레이 걸어 순차적으로 나오게 하기 */
.show .back-to-position.delay-1{transition-delay: .3s;}
.show .back-to-position.delay-2{transition-delay: .6s;}
.show .back-to-position.delay-3{transition-delay: .9s;}